{% extends "base.html" %}

{% block title %}{{ titolo }}{% endblock %}

{% block navbar %}
      <h3 class="masthead-brand">App Corso</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/info">Info</a>
      </nav>
{% endblock %}

{% block content %}
  <h1 class="cover-heading">{{ titolo }}</h1>
  <p class="lead">{{ testo }}</p>
    <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">{{ bottone }}</a>
    </p>
{% endblock %}
